<div class="context">
  <div class="title">Certificats</div>
  <div class="certifs">

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>PHP</span>
      </div>
      <div class="certif-text">
        <strong style="color: rgb(87, 89, 190);"> Simplilearn</strong>

       apprendre les base de language php.      </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>Symfony</span>
      </div>
      <div class="certif-text">
        <strong style="color: rgb(87, 89, 190);"> Simplilearn</strong>

       apprendre coment developper d'une application backend et création des api  </div>
    </div>

   




   
  </div>
</div>