<div class="nav {{bg}}" (mouseenter)="enter()" (mouseleave)="leave()">

   
        <div class="links">
            <div class="line {{leftValue}}"></div>
            <span (click)="navigateToSection('Accueil')" >Accueil</span>
            <span (click)="navigateToSection('Formation')" >Formation</span>
            <span (click)="navigateToSection('Experience')" >Expérience</span>
            <span (click)="navigateToSection('Competences')" >Compétences</span>
      
            <span (click)="navigateToSection('Certifs')">Certificats</span>
            <span (click)="navigateToSection('Contact')">Contact</span>
      

        </div>
    </div>