<div class="context">
  <div class="side1">
      <div class="title"><ion-icon name="school-outline"></ion-icon> Formation</div>  
  </div>


  <div class="side2">
      <div class="formation" #formation>
          <div class="formation-title">Diplôme Ingénieur Informatique</div>
          <div class="formation-text">
            EHEI - École Haute Études Ingénierie , Oujda
          </div>
          <div class="formation-date">2020/07-02</div>
      </div>
      <div class="formation" #formation>
          <div class="formation-title">Formation En Informatique</div>
          <div class="formation-text">Ecole de Formation  en Technique d'informatique  de Gestion , Elaioun </div>
          <div class="formation-date">2020/07-02</div>
      </div>  

      <div class="formation" #formation>
          <div class="formation-title">Bacalauriat Science Physique</div>
          <div class="formation-text">Lycée Ezzaitoune , Elaioun </div>
          <div class="formation-date">2020/07-02</div>
      </div> 
  </div>
</div>