
<div class="context" id="Experience">
  <div class="title">
    Expérience Et Projets
  </div>
  <div class="exps">
    <div class="exp-item">
      <div class="exp-title">Dévéloppement application web </div>
      <div class="exp-content">
        <div class="exp-text">Développement d'une application web avec php de la gestion des stagiaires</div>
        <div class="exp-date">2020-07-02</div>
        <button mat-flat-button color="primary">read more</button>
      </div>
    </div>

   

</div>